body {
	font-family: Arial, sans-serif;
}



/* menu 1 specified */ 
.register{
	margin-left:  450px;
}


.menu li {
	height: 100%;
	list-style-type: none;
	padding: 8px 14px;
	color:white;

}

.header {
	justify-content: center;
	display: flex;
	flex-direction: row;
	height: 50px;
	background-color: #333;
	align-items: center;

}

.menu {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	height: 38px;
	width: 180px;
}

a:link{
	text-decoration:none;
	color:white;
}



.menu li:hover {
	background-color: black;
	color: purple;
}

a:visited{
	color:white;
}




/* menu 2 spec  */

.header-2 .menu-2 {
	justify-content: center;
	height: 40px;
	background-color: #DDD;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-2 li {
 list-style-type: none;
 padding: 8px 16px;
}

.ads-off{
	margin-left: 350px;
}